<img class="bannerClientes" src="./assets/home/1011.png"
alt="banner confeitaria" width="1278px" height="300px">

<div class="container text-center">
  <div class="row">
    <div class="col-sm-12  col-md-8 col-xl-12">
      <mat-card >
        <mat-toolbar><h3>Clientes</h3></mat-toolbar>
        <table>
          <caption>
            <div class="container">
              <div class="row">
                <button class="btn btnadicionar">cadastrar</button>
                <button class="btn btneditar">Editar</button>
                <button class="btn btndeletar">Deletar</button>              </div>
            </div>
          </caption>
       <thead>
          <tr>
              <th scope="col">Posição</th>
             <th scope="col">Estado</th> 
             <th style="width: 90px;" scope="col">População</th>
             
          </tr>
       </thead>
       <tbody>
          <tr>
              <td class="nump">01</td>
              <td>São Paulo</td>
              <td class="num">41 262 199</td>
          </tr>
          <tr>
              <td class="nump">02</td>
              <td>Minas Gerais</td>
              <td class="num">19 597 330</td>
          </tr>
          
       </tbody>
       <tfoot>
          <tr>
              <th></th>
              <th scope="row">Total de habitantes</th>
              <td class="num"><strong>186 836 512</strong></td>
          </tr>
          
       </tfoot>
      </table>
        
</mat-card>
</div>
</div>
</div>



























