 <h2 class="title">Conheça Nosso Espaço Digital</h2>
<div class="container_carrossel">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md-3 col-xl-9">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="sld1" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="sld2" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="sld3" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>


<mat-card class=" card_w col-sm col-md-3 col-xl-3">
 <h3>whatsapp</h3>
 <a href="https://web.whatsapp.com/send?phone=+5511977653883" target="_blank">
  <img class="logo_w" src="{{logow}}" alt="logo whatsapp" height="160px" width="160px">
 </a>
</mat-card>
<mat-card class=" card_f col-sm col-md-3 col-xl-3">
 <h3>facebook</h3>
<a href="https://www.facebook.com/profile.php?id=100087938193478">
  <img class="logo_w" src="{{logof}}" alt="logo facebok" height="160px" width="160px">
</a>

</mat-card>
<mat-card class=" card_y col-sm col-md-3 col-xl-3">
 <h3>youtube</h3>
 <a href="https://www.youtube.com/@jonyconfeiteiro1672">
  <img class="logo_y" src="{{logoy}}" alt="logo facebok" height="305px" width="180px">

 </a>

</mat-card>
<mat-card class=" card_i col-sm col-md-3 col-xl-3">
 <h3>Instagram</h3>
<a href="https://www.instagram.com/confeitariadojony/">
  <img class="logo_w" src="{{logoi}}" alt="logo facebok" height="160px" width="160px">

</a>

</mat-card>


