.title {
   position: relative;
  bottom: 105px;
  text-align: center;
  color: white;
  font-family: segoe script;
  font-weight: bold;
}
.container_carrossel img{
  height: 250px;
  width: 800px;
  position: relative;


}
.container_carrossel {
  height: 200px;
  position: relative;
  position: relative;
  bottom: 105px;
  left: 120px;


}

.card_w,.card_f,.card_y,.card_i{
  height: 300px;
  background-color:  #472c2c;
  color: white;
  border-radius: 30px;
  border: 2px solid black;
  position: relative;
  bottom: 100px;
  left: 50px;
}



h3{
font-family: segoe script;
text-align: center;

}

.logo_w{
  position: relative;
  left: 50px;
}
.logo_y{
  position: relative;
  left: 50px;
  bottom: 70px;
}
.card_f,.card_y,.card_i{
  position: relative;
  left: 350px;
  bottom: 400px;
}

.card_y,.card_i{
  position: relative;
  left: 650px;
  bottom: 700px;

}

.card_i{
  position: relative;
  left: 975px;
  bottom: 1000px;
}
