.bannerMedia{
  position: relative;
  left: 72px;
  bottom: 118px;
}

.galeria{
  position: relative;
  left: 600px;
  bottom: 350px;
  color: white;
  font-family: segoe script;
}

mat-card{
  position: relative;
  bottom: 110px;
  right: 20px;
  background-color: rgb(190, 148, 131);
}

.card-2, .card-3{
  position: relative;
  left: 360px;
  bottom: 340px;
}
 .card-3{
  position: relative;
  left: 740px;
  bottom: 570px;
}

.row-2{
  position: relative;
  bottom: 930px;

}
