<img class="bannerMedia"
[src]="sld1" alt="Banner Media"
height="300px" width="1270px">
<h4 class="galeria">Galeria</h4>

<div class="container">
  <div class="row">
    <div class="col-sm col-md-3 col-xl-4">
      <mat-card>
        <img
        [src]="sld2" alt="Banner Media"
        height="200px" width="330px">
      </mat-card>
      <mat-card class="card-2">
        <img
        [src]="sld3" alt="Banner Media"
        height="200px" width="330px">
      </mat-card>
      <mat-card class="card-3">
        <img
        [src]="sld1" alt="Banner Media"
        height="200px" width="330px">
      </mat-card>
      <div class="row-2">
        <mat-card>
          <img
          [src]="sld2" alt="Banner Media"
          height="200px" width="330px">
        </mat-card>
        <mat-card class="card-2">
          <img
          [src]="sld3" alt="Banner Media"
          height="200px" width="330px">
        </mat-card>
        <mat-card class="card-3">
          <img
          [src]="sld4" alt="Banner Media"
          height="200px" width="330px">
        </mat-card>
      </div>
    </div>
  </div>
</div>
