<mat-toolbar >
  <h1>Confeitaria do Jony</h1>
  </mat-toolbar>
 <div class="tabs">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink>
      <a class="link" href="">
        <h2>Home</h2>
      </a>
  </a>
		<ng-template ngbNavContent>

		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>
      <a class="link" href="">
        <h2>Perfil</h2></a>
      </a>
		<ng-template ngbNavContent>

		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink>
    <a class="link" href="">
      <h2>Produtos</h2></a>
    </a>
		<ng-template ngbNavContent>

		</ng-template>
	</li>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn" type="submit">Search</button>
  </form>
</ul>
<button routerLink="cart" class="btncart ">
  <i style="font-size: 30px;" class="fa fa-cart-plus"></i>
  <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
</button>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<footer>
  <hr>
<h6>Home</h6>
<h6>Perfil</h6>
<h6>Produtos</h6>
</footer>
<router-outlet></router-outlet>
