<mat-toolbar >
  <h1>Confeitaria do Jony</h1>
  </mat-toolbar>
 <div class="tabs">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink>
      <a class="link" href="">
        <h2>Home</h2>
      </a>
  </a>
		<ng-template ngbNavContent>

		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>
      <a class="link" href="">
        <h2>Perfil</h2></a>
      </a>
		<ng-template ngbNavContent>

		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink>
    <a class="link" href="">
      <h2>Produtos</h2></a>
    </a>
		<ng-template ngbNavContent>

		</ng-template>
	</li>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn" type="submit">Search</button>
  </form>
</ul>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
<img src="/assets/bannerLogin/bannerLogin.png" alt="banner login" height="400px" width="1200px">

<div class="card" style="width: 18rem;">
  <h3>Logue em Nossa Plataforma</h3>
  <span class="email">E-mail</span>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <span class="senha">Senha</span>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">key</span>
    <input type="text" class="form-control" placeholder="senha" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <button type="button" class="btn ">Logar</button>

</div>
<hr>
<h6>Home</h6>
<h6>Perfil</h6>
<h6>Produtos</h6>
<router-outlet></router-outlet>
