.container{
  position: relative;
  right: 100px;
  bottom: 110px;

}

.carousel{
  border:  2px solid grey;
  border-radius: 12px;
  position: relative;
  left: 100px;
}

.containerPedidos{
  text-align: center;
  color: white;
  font-size: 23px;
  font-family: segoe script;
  margin-top: 10px;
  height: 250px;
  background-color: rgb(80, 51, 51);
  border:  2px solid grey;
  border-radius: 8px;
  position: relative;
  left: 100px;
}


.containerProdutos{
  background-color: rgb(80, 51, 51);
 position: relative;
 left: 478px;
 bottom: 250px;
 height: 250px;
 border:  2px solid grey;
 border-radius: 8px;
 text-align: center;
 color: white;
 font-size: 23px;
 font-family: segoe script;

}

.sidebarNovidades{
  position:relative;
  left:900px;
  bottom:820px;
  background-color: #6b51a5;
  width: 430px;
  height: 570px;
}

.title_novidades{
  text-align: center;
  font-family: segoe script;
  color: rgb(36, 16, 9);
  font-size: 18px;


}

.card{
  position: relative;
  left: 80px;
  background-color:  #2adbe7;
}

.card-img-top{
  height: 60px;
  width: 60px;
  position: relative;
  left: 110px;
}

.card-title{
  text-align: center;
  color: white;
  font-family: segoe script;

}

.card-text{
  text-align: center;
}

.btn{
  position: relative;
  left: 65px;
  background-color:  rgb(36, 16, 9);
  border:  2px solid grey;
  font-family: segoe script;


}

.row{
  position: relative;
  left: 12px;
  margin-top: 5px;
}
