/* You can add global styles to this file, and also import other style files */

body{
  background-color: #7e69ad;

}

.title{
  color: white;
  font-family: segoe script;
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 100px;
}


