.bannerCadastro{
  position: relative;
  bottom: 120px;
  width: 1348px;
}

.card{
  position: relative;
  left: 298px;
  bottom: 320px;
  background-color: #3b1f1f;
  color: white;
  border: 2px solid grey;
  border-radius: 18px;
}

.card-title{
  font-size: 15px;
  font-family: segoe script;
  text-align: center;
 position: relative;
 bottom: 10px;

}

.btn{
  background-color: #2adbe7;
  font-family: segoe script;
  position: relative;
  left: 225px;

}

.form-control{
  height:30px;
  position: relative;
  left: 5px;
}

.email{
  height: 30px;
}
