<div class="container">
  <div class="row">
    <div class="col-sm col-md-3 col-xl-3">
      <div class="card" style="width: 35rem;">
        <img src="assets/bannercadastro/cad2.png"
        class="card-img-top"
        alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Cadastre-se em Nossa Plataforma!</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-users" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Nome" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text email" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="E-mail" aria-label="password" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Telefone" aria-label="number" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-home" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="endereco" aria-label="text" aria-describedby="basic-addon1">
          </div>
          <a href="#" class="btn btn">Enviar</a>
        </div>
      </div>
    </div>
  </div>
</div>
